<div style="background:white;margin:0px" bgcolor="white">

  <table style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed" align="center" bgcolor="transparent" border="0" cellpadding="0" cellspacing="0" width="600">
    <tbody><tr>
      <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:60px 0 0">

        
        
  <table style="border-collapse:separate;border-spacing:0;table-layout:fixed" width="100%">
    <tbody><tr>
      <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0;text-align:center" align="center">
        


      <img src="{{ protocol }}://{{ domain }}/static/logo/logo.png"></td>
    </tr>
  </tbody></table>



        <table style="border-collapse:separate;border-spacing:0;table-layout:fixed" width="100%">
          <tbody><tr>
            <td style="color:#818181;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;padding:0 0 60px">

<br>
<p style="font-size:16px;margin:0 0 13px;padding-left:10%;padding-right:10%;text-align:left!important" align="left">
    Usted está recibiendo este email porque solicitó una restauración de la contraseña por defecto de su cuenta en Control de Acceso.
</p>
<br>
<p style="font-size:16px;margin:0 0 13px;padding-left:10%;padding-right:10%;text-align:left!important" align="left">
    Su nombre de usuario (número de empleado) es:
</p>
<p style="font-size:16px;margin:0 0 13px;padding-left:10%;padding-right:10%;text-align:left!important" align="left">
    {{ usuario }}
</p>
<p style="font-size:16px;margin:0 0 13px;padding-left:10%;padding-right:10%;text-align:left!important" align="left">
    Y su contraseña es:
</p>
<p style="font-size:16px;margin:0 0 13px;padding-left:10%;padding-right:10%;text-align:left!important" align="left">
    {{ password }}
</p>
<br>
<p style="font-size:16px;margin:0 0 13px;padding-left:10%;padding-right:10%;text-align:left!important" align="left">
    Lo invitamos a iniciar sesión y a cambiar su contraseña por una mas segura.
</p>

<table style="border-collapse:collapse;border-spacing:0;margin:18px auto;padding:0 10%;table-layout:fixed;text-align:center!important" align="center"><tbody><tr><td style="background:#333333;border:1px none #dadada;border-radius:26px;font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0;padding:13px 35px;text-align:left;vertical-align:top" align="left" bgcolor="#333333" valign="top"><a href="{{ protocol }}://{{ domain }}{% url 'login' %}" style="background:#333333;border:none;border-radius:26px;color:white!important;display:inline-block;font-size:15px;min-height:20px;outline:none!important;text-decoration:none!important" target="_blank">Iniciar Sesión</a></td></tr></tbody></table>
<p style="font-size:16px;margin:0 0 13px;padding-left:10%;padding-right:10%;text-align:left!important" align="left"></p>
<p style="font-size:16px;margin:0;padding-left:10%;padding-right:10%;text-align:left!important" align="left"></p>

            </td>
          </tr>
        </tbody></table>

      </td>
    </tr>
  </tbody></table>





</div></div>