{% extends "base/base.html" %}
{% load groups_extras %}
{% block extrastatic %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/select2/select2-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/select2/select2tags.css' %}">
{% endblock %}
{% block pageheader %}
Usuario
{% endblock %}
{% block subpageheader %}
Editar
{% endblock %}
{% block breadcrumbs %}
    <div class="col-sm-5 text-right hidden-xs" xmlns="http://www.w3.org/1999/html">
        <ol class="breadcrumb push-10-t">
            <li><a class="link-effect" href="{% url 'home' %}">Inicio</a></li>
            <li><a class="link-effect" href="">Editar Datos</a></li>
        </ol>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <!--Modal Error-->
        <!--<div style="display: none; margin-top: 220px;" class="modal fade" id="modal_error" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <div class="block block-themed block-transparent remove-margin-b">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Error</h3>
                        </div>
                        <div class="block-content">
                            EL empleado no existe.
                        </div>
                        <div class="modal-footer">
                            <a href="url empleado:empleado_list" class="btn btn-sm btn-info" type="button">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    <!--Fin Modal Error-->
<div class="content">
    <form id="form_empleado" class="js-validation-material form-horizontal push-10-t" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block block-rounded">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">Datos Usuario</h3>
                    </div>
                    <div class="block-content">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form.nombre }}
                                                <label for="{{ form.nombre.name }}">{{ form.nombre.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form.apellido_paterno }}
                                                <label for="{{ form.apellido_paterno.name }}">{{ form.apellido_paterno.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form.apellido_materno}}
                                                <label for="{{ form.apellido_materno.name }}">{{ form.apellido_materno.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                <select multiple id="id_puntocontrol" name="puntocontrol" style="width: 100%;">
                                                </select>
                                                <label for="{{ form2.puntocontrol.name }}">{{ form2.puntocontrol.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% ifusergroup administrador|recursos_humanos %}
                            <div class="row">
                            {% else %}
                            <div style="display: none; margin-top: 220px;" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                            {% endifusergroup %}
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form2.hora_entrada }}
                                                <label for="{{ form2.hora_entrada.name }}">{{ form2.hora_entrada.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% ifusergroup administrador|recursos_humanos %}
                            <div class="row">
                            {% else %}
                            <div style="display: none; margin-top: 220px;" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                            {% endifusergroup %}
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form2.hora_salida }}
                                                <label for="{{ form2.hora_salida.name }}">{{ form2.hora_salida.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form.fecha_nacimiento }}
                                                <label for="{{ form.fecha_nacimiento.name }}">{{ form.fecha_nacimiento.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form.curp }}
                                                <label for="{{ form.curp.name }}">{{ form.curp.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="form-material form-material-primary">
                                                {{ form.rfc }}
                                                <label for="{{ form.rfc.name }}">{{ form.rfc.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                     <div class="col-sm-10 col-sm-offset-1">
                                         <input type="submit" value="Guardar" class="btn btn-primary guardar" disabled="true">
                                         <a href="{% url 'home' %}" class="btn btn-danger" >Cancelar</a>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2/select2_locale_es.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-validation/messages_es.min.js' %}"></script>
    <script src="{% static 'usuario/js/datos_form_validation.js' %}"></script>
    <script>
        $(function () {
            // Init page helpers (BS Datepicker + BS Colorpicker + Select2 + Masked Input + Tags Inputs plugins)
            App.initHelpers(['datepicker', 'select2']);
        });
    </script>
    <script src="{% static 'assets/js/csfr.js' %}"></script>
    <script>
        $(document).ready(function() {
            "use strict";
            $("input#id_hora_entrada").timepicker({
                showMeridian:false,
                defaultTime:'7:00'
            });
            $("input#id_hora_salida").timepicker({
                showMeridian:false,
                defaultTime:'18:00'
            });
            cargarPuntosControl();
            function cargarPuntosControl(){
                $("select#id_puntocontrol").empty().select2({language: "es"});
                $.ajax({url: "{% url 'punto_control:punto_control_api' %}",
                    headers: { 'Authorization' : 'Token {{ request.session.token }}' },
                    data:{lista:'puntocontrol',activo:1},
                    dataType:"json",
                    type:"GET"
                }).done(function(data) {
                    $.each(data, function (index, item) {
                        $("select#id_puntocontrol").append($('<option>').val(item.id).text(item.nombre+' - '+item.instalacion.nombre));
                        $("input.guardar").removeAttr("disabled");
                    });
                });
            }

            function cargar()
            {
                    $.ajax({url: "{% url 'empleado:datos_api' %}",
                        headers: { 'Authorization' : 'Token {{ request.session.token }}' },
                        data:{usuario:true},
                        dataType:"json",
                        type:"GET"
                    }).done(function(data) {
                        if(data.activo == 1){
                            $("input#id_nombre").attr('value', '' + data.empleado.nombre);
                            $("input#id_apellido_paterno").attr('value', '' + data.empleado.apellido_paterno);
                            $("input#id_apellido_materno").attr('value', '' + data.empleado.apellido_materno);
                            if(data.empleado.fecha_nacimiento != null)
                                $("input#id_fecha_nacimiento").attr('value', '' + data.empleado.fecha_nacimiento);
                            $("input#id_rfc").attr('value', '' + data.empleado.rfc);
                            $("input#id_curp").attr('value', '' + data.empleado.curp);
                            /*obtener valores
                            $("#id_fecha_nacimiento").val()
                            o bien
                            $("#id_fecha_nacimiento").attr('value')
                            solo de este se debe asi
                            $("#id_datos_adicionales").val()
                            */
                            $("input#id_hora_entrada").val(data.hora_entrada.substring(0,5));
                            $("input#id_hora_salida").val(data.hora_salida.substring(0,5));

                            if(data.puntocontrol != null) {
                                var puntoscontrol = [];
                                $.each(data.puntocontrol, function(i,e){
                                    puntoscontrol.push(data.puntocontrol[i].id);
                                });
                                $('select#id_puntocontrol').val(puntoscontrol).change()
                            }
                        }
                        else
                        {   $('form#form_empleado').remove();
                            $('div#modal_error').modal('show');
                        }
                    }).fail(function(){
                        $('form#form_empleado').remove();
                        $('div#modal_error').modal('show');
                    })

            }
            cargar();
            $("form#form_empleado").submit(function(event){
                $("input.guardar").attr("disabled", true);
            });
        });
    </script>
{% endblock %}