{% extends 'base/base_pages_login.html' %}
{% block title %}
    Reestablecer contraseña
{% endblock %}
{% load i18n %}
{% block content %}
    {% if validlink %}
    <div class="content overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!-- Login Block -->
                    <div class="block block-themed animated fadeIn">
                        <div class="block-header bg-primary">
                             <ul class="block-options">
                                <li>
                                    <a href="{% url 'login'%}" data-toggle="tooltip" data-placement="left" title="Iniciar Sesión"><i class="si si-login"></i></a>
                                </li>
                            </ul>

                            <h3 class="block-title">RECUPERAR CONTRASEÑA</h3>

                        </div>
                        <div class="block-content block-content-full block-content-narrow">
                            <!-- Login Title -->
                            <h1 class="h2 font-w600 push-30-t push-5">Control de Acceso</h1>
                            <p>Por favor, introduzca su nueva contraseña dos veces.<br />
                                Así podemos verificar que la ha escrito correctamente.</p>

                            <form class="js-validation-reminder form-horizontal push-30-t push-50"  method="post">
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary">
                                            <input class="form-control" id="new_password1" type="password" name="new_password1">
                                            <label for="new_password1">Nueva Contraseña</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary">
                                            <input class="form-control" type="password" name="new_password2">
                                            <label for="new_password2">Confirmar Contraseña</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <button class="btn btn-block btn-primary" type="submit"><i class="si si-envelope-open pull-right"></i> Guardar </button>
                                    </div>
                                </div>
                            </form>
                            <!-- END Login Form -->
                        </div>
                    </div>
                    <!-- END Login Block -->
                </div>
            </div>
    </div>
    {% else %}
    <main id="main-container">
        <!-- Hero Content -->
        <div class="bg-primary-dark">
            <section class="content content-full content-boxed">
                <!-- Section Content -->
                <div class="push-100-t push-50 text-center">
                    <h1 class="h2 text-white push-10 " data-toggle="appear" data-class="animated fadeInDown">Restablecimiento de contraseña erroneo</h1>
                    <h2 class="h5 text-white-op " data-toggle="appear" data-class="animated fadeInDown">El enlace de restablecimiento de contraseña no es válida, posiblemente debido a que ya se ha utilizado. Por favor, solicite un nuevo restablecimiento de contraseña o inicie sesión.</h2>
                    <a href="{% url 'login'%}" data-toggle="tooltip" data-placement="left" title="Iniciar Sesión"><i class="si si-login"></i></a>
                </div>
                <!-- END Section Content -->
                    </section>
        </div>
        <!-- END Hero Content -->
    </main>
    {% endif %}
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-validation/messages_es.min.js' %}"></script>
    <script src="{% static 'usuario/js/password_reset_validation.js' %}"></script>
{% endblock %}