{% extends 'base/base_pages_login.html' %}
{% block title %}
    Recuperar Contraseña
{% endblock %}
{% load i18n %}
{% block content %}
     <div class="content overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!-- Login Block -->
                    <div class="block block-themed animated fadeIn">
                        <div class="block-header bg-primary">
                             <ul class="block-options">
                                <li>
                                    <a href="{% url 'login'%}" data-toggle="tooltip" data-placement="left" title="Iniciar Sesión"><i class="si si-login"></i></a>
                                </li>
                            </ul>

                            <h3 class="block-title">RECUPERAR CONTRASEÑA</h3>

                        </div>
                        <div class="block-content block-content-full block-content-narrow">
                            <!-- Login Title -->
                            <h1 class="h2 font-w600 push-30-t push-5">Control de Acceso</h1>
                            <p>Por favor ingrese su correo y le enviaremos un enlace para recuperar su contraseña</p>

                           <form class="js-validation-reminder form-horizontal push-30-t push-50" method="post">
                                {% csrf_token %}


                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary">
                                            <div class="form-material form-material-primary">
                                                <input class="form-control" type="email" id="reminder-email" name="email">
                                                <label for="reminder-email">Correo Electronico</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <button class="btn btn-block btn-primary" type="submit"><i class="si si-envelope-open pull-right"></i>Enviar</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END Login Form -->
                        </div>
                    </div>
                    <!-- END Login Block -->
                </div>
            </div>
     </div>
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-validation/messages_es.min.js' %}"></script>
    <script src="{% static 'usuario/js/email_form_validation.js' %}"></script>
{% endblock %}