{% extends 'base/base_pages_login.html' %}
{% block title %}
    Reestablecer contraseña
{% endblock %}
{% load i18n %}
{% block content%}
 <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-primary-dark">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->
                        <div class="push-100-t push-50 text-center">
                            <h1 class="h2 text-white push-10 " data-toggle="appear" data-class="animated fadeInDown">Restablecimiento de contraseña completo</h1>
                            <h2 class="h5 text-white-op " data-toggle="appear" data-class="animated fadeInDown">Control de Acceso</h2>
                            <a href="{% url 'login'%}" data-toggle="tooltip" data-placement="left" title="Iniciar Sesión"><i class="si si-login"></i></a>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hero Content -->
            </main>
{% endblock %}