{% extends "base/base.html" %}

{% block pageheader %}
Cambiar Contraseña
{% endblock %}
{% block subpageheader %}

{% endblock %}
 {% block breadcrumbs %}
     <div class="col-sm-5 text-right hidden-xs" xmlns="http://www.w3.org/1999/html">
         <ol class="breadcrumb push-10-t">
             <li><a class="link-effect" href="{% url 'home' %}">Inicio</a></li>
             <li><a class="link-effect" href="#">Cambiar Contraseña</a></li>
         </ol>
     </div>
{% endblock breadcrumbs %}
{% block content %}
     <!--Modal Contraseña Modificada-->
    <div style="display: none; margin-top: 220px;" class="modal fade" id="modal_password" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-top">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Alerta de Contraseña</h3>
                    </div>
                    <div class="block-content">
                        <span id="modal_name">Hemos detectado que tu contraseña es la que es añadida por defecto, te sugerimos cambiarla para mayor seguridad.</span>
                    </div>
                    <div class="modal-footer">
                        <button id="modal_boton" class="btn btn-sm btn-primary" type="button" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Modal Contraseña Modificada-->

    <div class="content overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!-- Block -->
                <div class="block block-themed animated fadeIn">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">CAMBIAR CONTRASEÑA</h3>
                    </div>
                    <div class="block-content block-content-full block-content-narrow">
                        <form class="js-validation-reminder form-horizontal push-30-t push-50"  method="post">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary">
                                            <input class="form-control" id="id_old_password" type="password" name="old_password">
                                            <label for="id_old_password">Contraseña Anterior</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary">
                                            <input class="form-control" id="id_new_password1" type="password" name="new_password1">
                                            <label for="id_new_password1">Nueva Contraseña</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary">
                                            <input class="form-control" type="password" name="new_password2">
                                            <label for="new_password2">Confirmar Contraseña</label>
                                        </div>
                                    </div>
                                </div>


                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="col-sm-6">
                                        <button class="btn btn-block btn-primary" type="submit"> Guardar </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-block btn-danger" href="{% url 'home' %}" type="button"> Cancelar </a>

                                    </div>
                                </div>
                            </div>
                        </form>
                            <!-- END Login Form -->
                    </div>
                </div>
                    <!-- END Login Block -->
            </div>
        </div>
    </div>

{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-validation/messages_es.min.js' %}"></script>
    <script src="{% static 'usuario/js/password_change_validation.js' %}"></script>
    <script>
        $(document).on('ready',function(){
        "use strict";
        $.ajax({url: "{% url 'usuario:password_api' %}",
            headers: { 'Authorization' : 'Token {{ request.session.token }}' },
            data:{numero_empleado_usuario: '{{ user.username }}'},
            dataType:"json",
            type:"GET"}
        ).done(function(data){
            if(data.exito){
                $('div#modal_password').modal('show');
                $('input#id_old_password').val(data.password);
            }
        });
        });
    </script>
{% endblock %}