{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Control de Acceso -
        {% if request.user.is_staff %}
        Administrador
        {% else %}
        Empleado
        {% endif %}
        {% endblock %}</title>
        <meta name="description" content="Control de Acceso">
        <meta name="author" content="Incubasoft">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        {% include "base/statichead.html" %}
        <!-- Page JS Plugins CSS -->
        {% block extrastatic %}
        {% endblock %}
        <!-- OneUI CSS framework -->
        <link rel="stylesheet" id="css-main" href="{% static 'assets/css/oneui.css' %}">
        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!--<link rel="stylesheet" id="css-theme" href=" static 'assets/css/themes/flat.min.css' ">-->
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Page Container -->

        <div id="page-container" class="sidebar-l sidebar-mini sidebar-o side-overlay-hover side-scroll header-navbar-fixed">

            <!-- Sidebar -->
            <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        {% include "base/sidebar.html" %}
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
            </nav>
            <!-- END Sidebar -->

            <!-- Header -->
                {% include "base/header.html" %}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                        <h1 class="page-heading push">
                            {% block pageheader %}
                            Titulo
                            {% endblock %}
                            <small>
                                {% block subpageheader %}
                                Subtitulo
                                {% endblock %}
                            </small>
                        </h1>
                        </div>
                        {% block breadcrumbs %}
                                <div class="col-sm-5 text-right hidden-xs">
                                    <ol class="breadcrumb push-10-t">

                                        <li><a class="link-effect" href="">Inicio</a></li>
                                    </ol>
                                </div>
                        {% endblock breadcrumbs %}
                    </div>
                </div>

                <!-- END Page Header -->
                {% block content %}
                {% endblock %}
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {% include "base/footer.html" %}
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        {% include "base/staticscripts.html" %}
        <!-- Page JS Code -->
        {% block extrajs %}
        {% endblock %}
    </body>
</html>