{% extends "base/base.html" %}
{% block extrastatic %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.css' %}">

{% endblock %}
{% block pageheader %}
    Instalaciones
{% endblock %}
{% block subpageheader %}
    Listar
{% endblock %}
{% block breadcrumbs %}
                            <div class="col-sm-5 text-right hidden-xs">
                                <ol class="breadcrumb push-10-t">
                                    <li><a class="link-effect" href="{% url 'home' %}">Inicio</a></li>
                                    <li><a class="link-effect" href="">Instalaciones</a></li>

                                </ol>
                            </div>
{% endblock breadcrumbs %}
{% block content %}
    <!--Modal Eliminar-->
        <div style="display: none; margin-top: 220px;" class="modal fade" id="modal_eliminar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <div id="block_instalacion" class="block block-themed block-transparent remove-margin-b">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Eliminar Instalación</h3>
                        </div>
                        <div class="block-content">
                            <span id="modal_mensaje_name"></span><span id="modal_name"></span>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="modal_idInstalacion" name="instalacion_id">
                            <button class="btn btn-sm btn-danger eliminar" type="button">Eliminar</button>
                            <button id="modal_boton" class="btn btn-sm btn-primary" type="button" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Fin Modal Eliminar-->
                        <div class="block-content">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href="{% url 'instalacion:instalacion_nuevo' %}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Crear Instalacion</a>
                                </div>
                            </div>
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-full" id="tabla_instalaciones">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 5%;"></th>
                                        <th style="width: 5%;">Nombre</th>
                                        <th style="width: 5%;" class="hidden-xs" >Dirección</th>
                                        <th style="width: 5%;" id="tabla_acciones" class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    <!--END Page Content -->
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/csfr.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'instalacion/js/instalacion_datatable.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/fnReloadAjax.js' %}"></script>

    <script>
    $(document).on('ready',function(){
        "use strict";
        var idioma = {
            sProcessing: "Procesando...",
            sLengthMenu: "Mostrar _MENU_ registros",
            sZeroRecords: "No se encontraron resultados",
            sEmptyTable: "Ningún dato disponible en esta tabla",
            sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
            sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
            sInfoPostFix: "",
            sSearch: "Buscar:",
            sUrl: "",
            sInfoThousands: ",",
            sLoadingRecords: "Cargando...",
            oPaginate: {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            oAria: {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        };
        var row_callback = function(nRow, aData, IdisplayIndex){
            var $tr = $(nRow);
            $tr.attr('id','tr'+aData.id);
            var direccion = aData.direccion.completa, fdireccion = '';
            if (direccion.length>30)fdireccion = $.trim(direccion).substring(0, 30).split(" ").slice(0, -1).join(" ")+ "...";
            else fdireccion=direccion;

            var $td_acciones = $('<div>').attr('class','btn-group').append(
                             $('<a>').attr({
                                 'href': "{% url 'punto_control:punto_control_nuevo_instalacion' %}"+aData.id,
                                 'class':'btn btn-xs btn-primary',
                                 'type':'button',
                                 'data-toggle':'tooltip',
                                 'title':'Añadir Punto de Control',
                                 'id':''+aData.id
                             }).append($('<i>').attr('class','si si-pointer')).tooltip({placement:'bottom'}),
                            $('<a>').attr({
                                'href':"{% url 'instalacion:instalacion_editar' %}"+aData.id,
                                'class':'btn btn-xs btn-info',
                                'type':'button',
                                'data-toggle':'tooltip',
                                'title':'Editar instalación'
                            }).append($('<i>').attr('class','fa fa-pencil')).tooltip({placement:'bottom'}),
                            $('<a>').attr({
                                'class':'btn btn-xs btn-danger',
                                'type':'button',
                                'data-toggle':'modal',
                                'title':'Eliminar instalación',
                                'id':''+aData.id,
                                'data-name':' '+aData.nombre+'?',
                                'href':'#modal_eliminar'
                            }).append($('<i>').attr('class','fa  fa-trash')).data('id',aData.id).click(function() {
                                var Instalacionid = $(this).attr('id');
                                var name = $(this).data('name');
                                $('input#modal_idInstalacion').val(Instalacionid);
                                $('span#modal_name').text(name).css("visibility", 'visible');
                                $("button.eliminar").attr("disabled", false).css("visibility", 'visible');
                                $("span#modal_mensaje_name").text('¿Esta seguro de eliminar la instalación');
                                $("button#modal_boton").text('Cancelar');
                            }).tooltip({placement:'bottom'})
                    );

            var hijos_tr = $tr.children();
            $(hijos_tr[0]).attr({'class':'text-center', 'style':'width: 5%;'});
            $(hijos_tr[1]).attr({'style':'width: 5%;'});
            $(hijos_tr[2]).empty().attr({'style':'width: 5%;', 'class':'hidden-xs'}).text(fdireccion).popover(
                    {trigger:'hover', title:'Dirección:', content: direccion, placement: 'top', container: 'body'});
            $(hijos_tr[3]).empty().append($td_acciones).attr({'class':'text-center','style':'width: 5%;'});
        };
        var columns = [];
        $.each(['id','nombre','direccion.completa', 'id'],function(index,item){
            columns.push({"mData": item});
        });
        var $tabla = $('table#tabla_instalaciones').DataTable({
            sAjaxSource: "{% url 'instalacion:instalacion_activos' %}",
            bServerSide: true,
            aoColumns: columns,
            fnRowCallback:row_callback,
            columnDefs: [{ orderable:false, targets: [ 2, 3 ] } ],
            pageLength: 10,
            lengthMenu: [[5, 10, 15, 20], [5, 10, 15, 20]],
            language: idioma
        });
        $("button.eliminar").on('click',function(e){
                App.blocks('div#block_instalacion','state_loading');
                $("button.eliminar").attr("disabled", 'true');
                $("button#modal_boton").attr("disabled", 'true');
                var id_instalacion = $("input#modal_idInstalacion").attr('value');
                $.ajax({
                    url:"{% url "instalacion:instalacion_eliminar" %}",
                    headers: { 'Authorization' : 'Token {{ request.session.token }}' },
                    data: {"id":id_instalacion},
                    type:'DELETE',
                    dataType:'json'
                }).done(function(data){
                    if(data.exito){
                        $tabla.row("#tr"+id_instalacion).remove().draw();
                        $.notify({// options
                                    icon: 'fa fa-trash ',
                                    title: '<strong>¡ELIMINACIÓN CORRECTA!</strong><br>',
                                    message: 'Se ha eliminado la instalación correctamente.'
                                }, {// settings
                                    type: 'danger',
                                    placement: {
                                        from: "top",
                                        align: "center"
                                    }
                                });
                            }
                    else{
                    $.notify({// options
                        icon: 'fa fa-close',
                        title: '<strong>¡ERROR!</strong><br>',
                        message: 'Ha ocurrido un error. Intente de nuevo mas tarde.'
                    }, {// settings
                        type: 'danger',
                        placement: {
                            from: "top",
                            align: "center"
                        }
                    });
                }
            }).fail(function () {
                $.notify({// options
                        icon: 'fa fa-close',
                        title: '<strong>¡ERROR!</strong><br>',
                        message: 'Ha ocurrido un error. Intente de nuevo mas tarde.'
                    }, {// settings
                        type: 'danger',
                        placement: {
                            from: "top",
                            align: "center"
                        }
                    });
            }).complete(function () {
                $('div#modal_eliminar').modal('hide');
                $("button#modal_boton").removeAttr("disabled");
                App.blocks('div#block_instalacion','state_normal');
            });
            });
    });
    </script>

{% endblock %}