{% extends "base/base_pages_login.html" %}
{% block title %}
    404
{% endblock %}
{% block content %}

     <div class="content text-center pulldown overflow-hidden">
         <div class="row">
             <div class="col-sm-6 col-sm-offset-3">
                 <h1 class="font-s128 font-w300 text-city animated flipInX">404</h1>
                 <h2 class="h3 font-w300 push-50 animated fadeInUp">Lo sentimos, la página que buscas no fue encontrada.</h2>
                 <!--<a href="#" data-toggle="tooltip" data-placement="left" title="Iniciar Sesión"><i class="si si-login"></i></a>-->
             </div>
         </div>

         <a class="link-effect" href="{% url 'home' %}">Volver al inicio</a>

     </div>


{% endblock %}

{% block footer %}
    <footer id="page-footer" class="content-mini content-mini-full pulldown font-s12 clearfix" style="margin-top: 150px;">
        <div class="push-10-t text-center animated fadeInUp">
            2016 &copy; Incubasoft
        </div>
    </footer>
{% endblock %}
